<meta charset="UTF-8">
<div class="tab-pane" id="intro">
	<h1 style="margin-top:-10px; margin-bottom: 10px">{{name}}&nbsp;&nbsp;
		<small>{{rateval}}  / {{rateuser}}人评分</small>
	</h1>
	
	<div id="rate_{{id}}" class="rating" style="margin-left: -5px;margin-bottom:25px"></div>


 	<p>{{detail}}</p>
</div>
<div class="tab-pane" id="discuss">
</div>
<div class="tab-pane" id="download">
<a type="button" class="btn btn-success" href="list?action=dowload&id={{id}}&filename={{filename}}">
	点击下载
</a>
</div>